  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('ui.root')}}">Flask - Tic Tac Toe 🐍</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav me-auto">
          {% for item in navigation_items %}
            {% set _item_url = url_for(item.function) %}
            {% if item.function == request.endpoint %}
              <li class="nav-item active">
                <a class="nav-link active" aria-current="page" href="{{_item_url}}">{{item.label}}</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{_item_url}}">{{item.label}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>