{% extends "_base.html" %}
{% block title %}Home{% endblock %}
{% block main_content %}
    <div class="flex-shrink-0">
        <div class="container">
        <h1 class="mt-5">Home</h1>
        <p>
            Let's play some Tic Tac Toe!
        </p>
        <ul>
            <li><a href="{{url_for('ui.games_new')}}">New Game</a></li>
            <li><a href="{{url_for('ui.games_get_all')}}">Existing Games</a></li>
            <li><a href="{{url_for('ui.about')}}">About</a></li>
            <li><a href="{{url_for('api_index.index')}}">API Index</a></li>
        </ul>

        </div>
    </div>
{% endblock %}