{% extends "_base.html" %}
{% block title %}Games{% endblock %}
{% block main_content %}
    <div class="flex-shrink-0">
        <div class="container">

        <h1 class="mt-5">Games</h1>

        {% include '_alerts.html' %}

        {% for game in all_games %}
            {% if loop.index % 3 == 1 %}
            <div class="row">
            {% endif %}
                <div class="col-lg-4 mb-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Game {{ game.id }} : {{game.status.name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{ game.player_one.name }} vs. {{ game.player_two.name }} </h6>
                          {% if not game.winning_player_number %}
                            <a href='{{ url_for('ui.games_get_by_id',game_id=game.id) }}'>Join game</a>
                          {% else %}
                              <a href='{{ url_for('ui.games_get_by_id',game_id=game.id) }}'>View post-game summary</a><br>
                            {% if game.winning_player_number.value == 1 %}
                                Winner: {{ game.player_one.name }}
                            {% endif %}
                            {% if game.winning_player_number.value == 2 %}
                                Winner: {{ game.player_two.name }}
                            {% endif %}
                            {% if game.winning_player_number.value == 3 %}
                                TIE
                            {% endif %}
                          {% endif %}
                      </div>
                    </div>
                </div>
            {% if loop.index % 3 == 0 or loop.index == loop.length %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}