{% extends "_base.html" %}
{% block title %}New Game{% endblock %}

{% block main_content %}
<div class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">New Game</h1>

        <form method="post" action="{{url_for('ui_games_add')}}">
            <div class="mb-3">
                <label class="form-label" for="player_one_id">Player 1</label>
                <select class="form-select" aria-label="Player 1" name="player_one_id" id="player_one_id">
                    {% for p1 in player_list %}
                      <option value="{{p1.id}}" {% if p1.id == 1 %}selected{% endif %}>{{p1.name}} ({{p1.player_type}})</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="player_one_id">Player 2</label>
                <select class="form-select" aria-label="Player 2" name="player_two_id" id="player_two_id">
                    {% for p2 in player_list %}
                      <option value="{{p2.id}}"{% if p2.id == 2 %}selected{% endif %}>{{p2.name}} ({{p2.player_type}})</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-link" href="{{url_for('root')}}">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
