{% extends "_base.html" %}
{% block title %}Game {{ game.id }}{% endblock %}
{% block main_content %}
    <div class="flex-shrink-0">
        <div class="container">

        {% include '_alerts.html' %}

        <h1 class="mt-5">Game {{ game.id }}</h1>
            <h3 class="mt-1">
                <span class="text-danger">{{ player_one.name }}</span> <span class="text-muted">({{ player_one.player_type }})</span>
                VS
                <span class="text-primary">{{ player_two.name }}</span> <span class="text-muted">({{ player_two.player_type }})</span>
            </h3>


{% if game.status == enumGameStatus.IN_PROGRESS %}
    <h5 class="mt-5">It's your turn, {{ player_one.name if game.next_move_player_number == 1 else player_two.name }}:</h5>
<form method="post" action="{{url_for('ui.games_moves_add',game_id=game.id)}}">
{% endif %}

<div class="game-board {{ game.status.name|lower }}">
    {% for cell in board %}
        {% set this_cell = loop.index %}

        {% set ns = namespace(cell_property="") %}

        {# Locate the game move that matches this cell: #}
        {% for move in game.moves %}
            {% set this_move = move.position.value %}
            {% set this_move_sequence = move.move_sequence|string %}
            {% if this_move == this_cell %}

                {# Add class to cell, based on the move sequence: #}
                {% set ns.cell_property="move_seq_" + this_move_sequence %}

                {# Add class to cell if it's the last move of the sequence: #}
                {% if last_move_position == this_cell %}
                    {% set ns.cell_property= ns.cell_property + " last_move" %}
                {% endif %}

                {# Add class to cell if it's a winning move: #}
                {% if this_cell in game.winning_pieces %}
                    {% set ns.cell_property= ns.cell_property + " winning_piece" %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="box">

            {% if cell == "1" %}
                <p class="game-piece text-danger {{ns.cell_property}}">X</p>
            {% elif cell == "2" %}
                <p class="game-piece text-primary {{ns.cell_property}}">O</p>
            {% elif game.status == enumGameStatus.IN_PROGRESS %}
                <input type="radio" class="btn-check" name="position" id="position-{{ loop.index }}" autocomplete="off" value="{{ loop.index }}" required>
                {% if game.next_move_player_number == 1 %}
                    <label class="btn btn-outline-danger" for="position-{{ loop.index }}">{{ loop.index }}</label>
                {% else %}
                    <label class="btn btn-outline-primary" for="position-{{ loop.index }}">{{ loop.index }}</label>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>

{% if game.status == enumGameStatus.IN_PROGRESS %}
    <input type="hidden" name="player_id" value="{{ player_one.id if game.next_move_player_number == 1 else player_two.id }}">
    <input type="hidden" name="move_sequence" value="{{ game.next_move_sequence }}">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
    {% if game.winning_player_number.value == 1 %}
        <h3>WINNER = {{ player_one.name }}</h3>
    {% elif game.winning_player_number.value == 2 %}
        <h3>WINNER = {{ player_two.name }}</h3>
    {% else %}
        <h3>It's a TIE</h3>
    {% endif %}
{% endif %}

<style>
.game-board
{
    width: 60%;
    height: auto;
    margin: 0 auto;
    background-color: #000000;
    color: #fff;
    border: 6px solid #212529;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.box
{
    border: 6px solid #212529;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 124px;
}
.box p {
    margin-bottom: 0;
}
.game-board.in_progress .last_move {
    animation-name: animate_fade_in;
    animation-duration: 4s;
}
.game-board.finished:hover .game-piece {
    opacity: 0;
    animation-duration: 1s;
    animation-name: animate_fade_in;
    animation-fill-mode: forwards;
}
.game-board.finished:hover .game-piece.move_seq_1 {
    animation-delay: 200ms;
}
.game-board.finished:hover .game-piece.move_seq_2 {
    animation-delay: 400ms;
}
.game-board.finished:hover .game-piece.move_seq_3 {
    animation-delay: 600ms;
}
.game-board.finished:hover .game-piece.move_seq_4 {
    animation-delay: 800ms;
}
.game-board.finished:hover .game-piece.move_seq_5 {
    animation-delay: 1000ms;
}
.game-board.finished:hover .game-piece.move_seq_6 {
    animation-delay: 1200ms;
}
.game-board.finished:hover .game-piece.move_seq_7 {
    animation-delay: 1400ms;
}
.game-board.finished:hover .game-piece.move_seq_8 {
    animation-delay: 1600ms;
}
.game-board.finished:hover .game-piece.move_seq_9 {
    animation-delay: 1800ms;
}

@keyframes animate_fade_in {
  from {opacity: 0;}
  to {opacity: 100;}
}

</style>


<a href="{{url_for('ui.games_get_all')}}">Back to Existing Games</a>

        </div>
    </div>
{% endblock %}